@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #F8F8F8;
  margin: 50px auto;
  padding: 0;
  font-family: sans-serif;
  height:0;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}

.headerMargin {
  margin-bottom: 110px;
}

.fw {
 width: 100%;
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.fh {
  height: 100%;
  min-height: 100%;
}

.App-logo {
  margin-left: 3em;
}

.App-header {
  height: 80px;
  margin: 20px;
  color: #000000;
}


.loading {
  text-align: center;
  margin-top: 100px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.brand {
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 20px;
}

div.ui.top.inverted.fixed.menu {
  background-color: #FFFFFF;
  border-bottom: white 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.30);
}

.background-text {
  color: white !important;
}

.connect-button {
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
}

.headerPadding {
  padding: 5px !important;
}

.header-text {
  text-align: center;
}
